h1{
    color: rgb(255, 145, 0);
    font-size: 20px; 
    /*border: 1px solid blue;*/
    border-bottom: 5px solid blue;
    
}
a{
    color: pink;
}
a:hover{
    color: red;
    font-size: 20px; 
}
a:active{
    color: black;
    font-size: 20px; 
}
p{
    color: blue;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    text-indent: 40px;
}
.style1{
    color: gray;
}